<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>Create Account</title>
   </head>
    
   <body>      
      <!-- Include _menu.html -->
      <th:block th:include="/_menu"></th:block>
      <div th:if="${errorMessage!=null}"
           style="color:red;font-style:italic" th:utext="${errorMessage}">..</div>
       
      <form th:action="@{/createAccount}" th:object="${createAccountForm}" method="POST">
         <table>
 
           <tr>
              <td>Account Name</td>
              <td><input type="text" th:field="*{accountName}"/></td>
           </tr>
            <tr>
              <td>Amount</td>
              <td><input type="text" th:field="*{amount}" /></td>
           </tr>           
           <tr>
              <td>&nbsp;</td>
              <td><input type="submit" value="Create Account"/></td>
           </tr>       
         </table>      
      </form>
       
   </body>
</html>